.About-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero {
  background: url(../../../photos/bg-img3.jpg) no-repeat center;
  background-size: cover;
  margin: 0 auto;
  padding: 20px;
  width: 90% !important;
  height: 60vh !important ;
  position: relative;
}
.hero-text {
  position: absolute;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 20%;
}
.hero-text p {
  color: #fff;
  font-size: 1.8rem;
}

.vision {
  margin-top: 2rem !important;
  width: 100%;
  max-width: 1544px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}
.vision p {
  font-size: 1.5rem;
  width: 80% !important;
  max-width: 1000px;
}

.why-us {
  margin-top: 2rem;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  width: 90%;
  max-width: 1544px;
}
.single-item {
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1rem 2rem;
  background-color: #ddd;
}
.single-item p {
  font-size: 1.3rem;
}
