.main-donation-conatainer {
  width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 0.8rem;
}


.donation-container {
  width: 100%;
  margin-top: 4rem;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.donation-container h1 {}

.donation-container p {
  font-size: 1.1rem;
}

.donation-container ol {}

.donation-container ol li {
  font-size: 1.2rem;
}

.donation-container .online-donation {

  margin-top: 2rem;
  font-size: 2rem;
  color: rgb(234, 3, 3);
}

.donation-container a {
  border: 2px solid rgb(81, 85, 81);
  background-color: rgb(6, 31, 7);
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 20px;
  color: #fff;
}