.section-center {
  position: relative;
  margin: 0 auto;
  margin-top: 1rem;
  width: 95%;
  height: 80vh;
  /* max-width: 800px; */
  text-align: center;
  justify-content: center;
  display: flex;
  overflow: hidden;
}

.section-center .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #36323290;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
}

.overlay .overlay-text {
  width: 100%;
  text-align: left;
  /* align-self: center; */
  max-width: 1440px;
  position: absolute;
  font-size: 1.2rem;
  color: #fff;
  margin-left: 4rem;
  /* top: 20%; */
}

.section-center .overlay-text-item {
  width: 40%;
}

.overlay-text .hero-btn {
  background: #ff6602;
  border: 1px solid #ff6602;
  color: #fff;
  font-weight: 900;
}

.buttons-container {
  display: flex;
  gap: 2rem;
}

.slides {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

article {
  position: absolute;
  display: flex;
  gap: 0.4rem;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: var(--transition);
  /* float: left; */
}

article img {
  width: 100%;
  height: 100%;
  opacity: 0.8;
}

.text-box p {
  font-size: 1rem;
}

article.activeSlide {
  opacity: 1;
  /* transform: translateX(0); */
}

article.lastSlide {
  /* transform: translateX(-100%); */
  opacity: 0.4;
}

article.nextSlide {
  /* transform: translateX(100%); */
  opacity: 0;
}

@media (max-width: 500px) {
  .section-center {
    height: 300px;
  }

  article {
    height: 300px !important;
  }

  article img {
    height: 300px;
  }

  .section-center .overlay-text-item {
    width: 100%;
  }

  .overlay .overlay-text {
    font-size: 0.5rem;
  }

  /* .text-box p {
    font-size: 0.8rem;
  } */

  .overlay-text .hero-btn {
    padding: 10px;
  }

  .buttons-container {
    display: flex;
    gap: 1rem;
  }
}