.postion-card {
  width: 90%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postion-card .image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  /* width: 100%; */
}
.image-container img {
  width: 400px;
  height: 250px;
}

.postion-card .text-description {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.postion-card .text-description h1 {
}
.postion-card .text-description h2 {
  color: crimson;
}
.postion-card .text-description p {
  color: rgb(145, 133, 133);
}
.postion-card .position-btn {
}

@media (max-width: 768px) {
  .postion-card {
    width: 80%;
  }
  .image-container img {
    width: 300px;
    height: 250px;
  }
}
