.main-container {
  margin-top: 3rem;
  margin: 0 auto;
  width: 100%;
  max-width: 1440px;
}

.main-counter {
  padding: 30px !important;
}

.main-counter .single-item {
  margin-bottom: 0px;
  display: flex !important;
  width: 80% !important;
  max-height: 200px !important;
  padding: 2rem;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.single-item h1 {
  color: #000;
  font-weight: 700;
  font-size: 3rem;
}

.single-item p {
  font-weight: 500;
  font-size: 1.5rem;
  text-align: center;
}

@media (max-width: 768px) {
  .main-counter .single-item {
    padding: 2rem;
  }

  .single-item h1 {
    font-size: 3.4rem;
  }

  .single-item p {
    font-size: 1.5rem;
  }
}