.nav {
  height: 5rem;
  /* display: flex; */
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  /* position: relative; */
  background-color: #fff;
  transform: none;
  transition: all 0.3s ease;
}
.nav.active {
  background-color: white;
  color: #000;
  top: 0;
  position: sticky;
  z-index: 9;
}

.nav-center {
  width: 100%;
  max-width: var(--max-width);
}

.nav-header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  /* width: 100%; */
}

.nav-header .logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  /* margin-left: 2rem; */
}

.nav-header p {
  font-size: 1rem;
}

.nav-header p span {
  color: crimson;
}

.nav-logo {
  background-color: transparent;
  width: 40%;
  height: 40%;
  border-radius: 50%;
}

.nav-header .toggle-btn {
  display: block;
  background-color: crimson;
  margin-right: 4rem;
  font-size: 1.2rem;
}

.btn {
  font-size: 1.2rem;
  font-weight: 500;
  padding: 0.25rem 0.75rem;
  border-radius: var(--radius);
  border-color: transparent;
  color: white;
  background: var(--clr-black);
  cursor: pointer;
  transition: var(--transition);
}

.btn:hover {
  background: var(--clr-grey-5);
}

.links {
  display: none;
}

.signIn {
  display: none;
}

@media screen and (min-width: 800px) {
  .nav-center {
    display: flex;
    display: flex;
    align-items: center;
    height: 80%;
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  .toggle-btn {
    display: none;
  }
  .signIn {
    display: inline-block;
    margin-left: 1.5rem;
    margin-bottom: 1rem;
  }
  .nav-header .logo {
    width: 100%;
  }
  .nav-header p {
    font-size: 1.2rem;
  }
  .nav-header .logo img {
    width: 20%;
  }
  .nav-header .toggle-btn {
    display: none;
  }
  .nav-links {
    white-space: nowrap;
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .links {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .links li {
    margin-bottom: 0px;
    font-weight: 600;
  }

  .link-btn {
    background: transparent;
    border-color: transparent;
    white-space: nowrap;
    font-size: 1.2rem;
    font-weight: 600;
    color: #000;
    text-transform: capitalize;
    letter-spacing: 1px;
    cursor: pointer;
    display: flex;
    align-items: center;
  }
  .other-links {
    text-decoration: none;
    white-space: nowrap;
    cursor: pointer;
    color: #000;
    font-size: 1.3rem;
  }
}
