.slick-dots {
    font-size: 2rem !important;
}


.single-leader {

    color: black;
    background-color: #f1ebeb9b;
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: center !important;

}

.single-leader img {
    width: 90% !important;
    height: 250px !important;
    background-color: rgba(0, 0, 0, 0.346);
}

.detail-text {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background-color: #fff;

}



.single-btn {
    align-self: center;
    margin-top: 1rem;
    width: 40%;
    background-color: transparent;
    font-size: 1.2rem;
    color: coral;
    padding: 10px;
    border: 2px solid red;
}

.single-btn:hover {
    background-color: coral;
    color: #fff;
}

.detail-text h1 {

    font-size: 1.3rem;

}

.detail-text h2 {
    font-size: 1.2rem;
    color: #46bc96;
    font-weight: 500;
}

.detail-text p {
    max-width: 95%;
    font-size: 1rem;
    text-align: justify;
}

.slick-track {
    display: flex !important;
    gap: 30px !important;

    /* background-color: aqua !important; */
}

.slick-slide {
    /* display: flex !important;
    align-items: center !important;
    justify-content: center !important; */


}

.slick-list {
    width: 100% !important;
    margin: 0 auto !important;
}

.slick-prev,
.slick-next {
    top: 35% !important;
    background-color: crimson !important;

    z-index: 99 !important;
    padding: 20px !important;
    display: flex !important;
    align-items: center !important;
}

.slick-arrow {}

.slick-next {
    right: 20px !important;
    z-index: 99 !important;
}


.slick-prev {
    left: 10px !important;
    z-index: 99 !important;
}


@media(max-width:1024px) {

    .slick-prev,
    .slick-next {
        display: block !important;
    }
}

@media(max-width:768px) {

    .slick-prev,
    .slick-next {
        display: block !important;
    }

    .slick-next {
        right: 40px !important;
    }


    .slick-prev {
        left: 10px !important;
        z-index: 99 !important;
    }
}

@media(max-width:480px) {
    .slick-next {
        right: 20px !important;
    }


    .slick-prev {
        left: 20px !important;
        z-index: 99 !important;
    }
}