.testimonials {
  margin: 0 auto;
  width: 80% !important;
  overflow: hidden !important;
  margin-top: 2rem;
}

.shadow-effect {
  background: #f7efef;
  padding: 10px;
  border-radius: 4px;
  text-align: center;
  border: 1px solid #ececec;
  box-shadow: 0 19px 12px rgba(0, 0, 0, 0.1), 0 15px 12px rgba(0, 0, 0, 0.02);
}
.shadow-effect p {
  font-family: inherit;
  font-size: 20px;
  line-height: 1.5;
  margin: 0 0 17px 0;
  font-weight: 400;
}
.img-circle {
  border-radius: 50%;
  vertical-align: middle;
  max-width: 90px;
  min-height: 90px;
  transform-style: preserve-3d;
  margin: 0 auto 17px;
}
#customer-testimonoals {
  margin-top: 6%;
}
.testimonial-name {
  margin: -17px auto 0;
  display: table;
  width: auto;
  /* background: linear-gradient(100deg, #845EC2, #BE93FD); */
  background: linear-gradient(100deg, #ff8066, #ff918d);
  /* background: linear-gradient(135deg, #ff3e00, #eaa400); */
  padding: 15px 30px;
  border-radius: 12px;
  text-align: center;
  color: #fff;
  box-shadow: 0px 9px 18px rgba(0, 0, 0, 0.12), 0px 5px 7px rgba(0, 0, 0, 0.5);
}

/* .slick-theme .slick-active .item {
  opacity: 1 !important;
  transform: scale3d(0.9, 0.9, 1) !important;
} */
.slick-dots {
  color: black !important;
  bottom: -5px !important;
}
.slick-theme .item {
  text-align: center;
  padding: 30px !important;
  margin-bottom: 0px;
  opacity: 1;
  transform: scale3d(0.8, 0.8, 1);
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .item {
    padding: 2px !important;
  }
  .shadow-effect {
    padding: 1px;
  }
}
