.submenu::before {
  content: "";
  display: block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid var(--clr-white);
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
}

.submenu {
  background: var(--clr-white);

  box-shadow: var(--dark-shadow);
  position: absolute;
  position: fixed;
  top: 4rem;
  left: 50%;
  transform: translateX(-50%);
  z-index: 99;
  display: none;
  padding: 2.5rem;
  border-radius: var(--radius);
  transition: var(--transition);
}

.submenu.show {
  display: block;
}

.submenu-center {
  display: grid;
  gap: 0.3rem 0.5rem;
}

.col-3 {
  grid-template-columns: repeat(3, 1fr);
}
/* .col-2 {
  grid-template-columns: repeat(2, 1fr);
}

.col-2 {
  grid-template-columns: repeat(2, 1fr);
}


.col-4 {
    grid-template-columns: repeat(4, 1fr);
}
 */

.submenu h4 {
  margin-bottom: 1.5rem;
  font-size: 1.2rem;
  font-weight: bold;
  color: black;
}

.submenu-center .links {
  width: 12rem;
  display: block;
  color: var(--dark-shadow);
  text-transform: capitalize;
  display: flex;
  align-items: center;
  font-size: 1.2rem;
  font-weight: 600;
}
