.postionCard-main-container {
  margin: 0 auto;
  width: 90%;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 2fr));
  grid-column-gap: 1.5rem;
  grid-row-gap: 2rem;
  margin-top: 1rem;
}
