.our-values {
  margin: 0 auto;
  margin-top: 3rem;
  width: 100%;
  max-width: 1440px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  z-index: 99;
}

.single-value {
  display: flex;

  flex-direction: column;
  align-items: center;
  justify-content: center;

  padding: 20px;
}

.single-value h1 {
  font-size: 2.2rem;
  color: #888080;
}

.single-value p {
  font-size: 1.5rem;
  width: 100%;
  max-width: 350px;
  color: #ff8400;
  text-align: center;
}

.single-value .value-icon svg {
  font-size: 3rem;
  color: #000;
}

@media (max-width: 768px) {
  .our-values {
    flex-direction: column;
    width: 90%;
  }

  .single-value {}

  .single-value h1 {
    font-size: 2rem;
    /* margin-left: 2.8rem; */
  }

  .single-value p {
    font-size: 1.2rem;
    color: #ff8400;
    align-self: center;
  }

  .single-value .value-icon svg {
    font-size: 4rem;
  }
}